*{
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'IBM Plex Mono', sans-serif;
}

body{
   box-sizing: border-box;
   width: 100%;
   height: 100%;
   margin: 0;
   background-color: black;
   color: white;
}

header{
   
    background-color: rgb(44, 42, 42);
    display: flex;
    height: 70px;
    width: 1110px;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 85px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    
}

nav{
 font-size: 30px;
 position: relative;
 left: -50px;
}



.icons{
    scale: 1.4;
    height: 13.3px;
    width: 21.6px;
    position: relative;
    top: 0px;
    left: 15px;
    color: rgba(156, 156, 156, 1);
    transition: .2s;
}

.icons:hover{
    color: white;
    scale: 2;
}

.hyperlink{
     color: rgba(156, 156, 156, 1);
     position: relative;
     font-size: 15px;
     border-radius: 5px;
     padding-bottom: 2px;
     transition: .15s;
}


.hyperlink:hover{
    border-bottom: 2px solid rgb(200, 199, 199);
}

.icon{
    gap: -10px;
    width: 107.54px;
    display: flex;
}

a{
   
    text-decoration: none;
}

img{
    height: 294px;
    width: 294px;
    border-radius: 100px;
    position: relative;
    top: 20px;
}

main{
    margin-left: 180px;
    margin-right: 230px;
    margin-top: 100px;
    display: flex;
    gap: 30px;
}

.left{
    position: relative;
    left: -20px;
    bottom: 20px;
    bottom: 30px;
    width: 538px;

}

p{
    width: 510px;
    position: relative;
    top: -20px;
}

h2{
    font-size: 42px;
}

p{
    color: rgba(156, 156, 156, 1);
}

.start{
    height: 63px;
    width: 307.89px;
    background-color: transparent;
    border: 1px solid rgba(98, 186, 27, 1);
    border-radius: 4px;
  
    position: relative;
    transition: all 10ms;
}

.start:hover{
    bottom: 5px;
    background-color: rgba(63, 142, 0, 1);
    box-shadow: 0 2px 10px rgba(98, 186, 27, 1);

}

.button-text{
    color: white ;
}


footer{
    position: relative;
    top: 80px;
   left: 130px;
   display: grid;
}

.dream{
    position: relative;
    top: 30px;
    left: 50px;
    gap: 10px;
}

.company{
    background: transparent;
    border: 0.1px solid rgb(61, 61, 61);
    height: 60px;
    width: 160px;
    color: grey;
    font-style: italic;
    font-size: 20px;
}

.company:hover{
    text-shadow: 0px 4px 2px  rgb(246, 247, 244),2px 4px 8px  rgb(255, 255, 255),3px 6px 8px  rgb(255, 255, 255);
}

/*Phones*/
@media only screen and (max-width: 600px) {
    *{
        box-sizing: border-box;
    }
    body{
        align-items: center;
        justify-items: center;
        background-color: black;
        width: 100vh;
        height: 100vh;
        margin: 0;
        padding: 0;
        position: relative;
    }
    header{ 
        position: relative;
        left: 0;
        border-bottom-left-radius: none;
        border-bottom-right-radius: none;
    }

    nav{
        
        position: relative;
        left: 1rem;
        word-spacing: 1rem;
    }

    .icon{
        scale: 1.3;
    }

    main{
        display: flex;
       flex-direction:column-reverse ; 
       gap: 1.5rem;
       position: relative;
       top: 2rem;
       left: 4rem;
    }

    .left{ 
        top: 7rem;
        padding: 1rem;
        scale: 1.5;
        text-align: center;
    }

    footer{
        position: relative;
        top: 55%;
        margin-right: 30rem;
        scale: 2.2;
    }

    .dream{
        display: grid;
        gap: 2rem;
    }

    .company{
    background: transparent;
    border: 0.2px solid rgb(224, 222, 222);
    height: 60px;
    width: 160px;
    color: grey;
    font-style: italic;
    font-size: 20px;
    transform: skew(-10deg);
    }

    img{
        scale: 1.7;
        position: relative;
        top: 1rem;
        left: 5rem;
    }
}