*{
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'IBM Plex Mono', sans-serif;
}

body{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    
    background-color: black;
    color: white;
    margin: 0;
}


header{
   
    background-color: rgb(44, 42, 42);
    display: flex;
    height: 70px;
    width: 1110px;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 85px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    
}

nav{
 gap: 15px;
 font-size: 30px;
}


.icons{
    scale: 1.4;
    height: 13.3px;
    width: 21.6px;
    position: relative;
    top: 0px;
    left: 15px;
    color: rgba(156, 156, 156, 1);
    transition: .2s;
}

.icons:hover{
    color: white;
    scale: 2;
}

.hyperlink{
     color: rgba(156, 156, 156, 1);
     position: relative;
     left: -50px;
     font-size: 15px;
     border-radius: 5px;
     padding-bottom: 2px;
     transition: .15s;
}


.hyperlink:hover{
    border-bottom: 2px solid rgb(200, 199, 199);
}


.icon{
    gap: -10px;
    width: 107.54px;
    display: flex;
}

a{
    text-decoration: none;
}

h2{
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 30px;
}

span{
    background-color: red;
    font-style: italic;
    font-size: 35px;
    border-radius: 12px;
    padding: 3px;
}

p{
    width: 90%;
    color: rgba(156, 156, 156, 1);
}

main{
    position: relative;

}

.skills-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.qualities{
    background-color: rgb(44, 42, 42);
    padding: 0.6rem;
    border-radius: 2.2rem;
    display: flex;
    flex-direction: column;
    transition: .8s;
}

.qualities:hover{
    transform: translateY(-1.4rem);
    box-shadow: 1px 5px 10px rgb(200, 199, 199),1px 7px 10px rgb(200, 199, 199);
}

.logo5{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.personal-skill{
    background-color: black;
    border-radius: 2rem;
    text-align: center;
    height: 1.7rem;
}



@media only screen and (max-width: 600px) {
    *{
        box-sizing: border-box;
        margin: 0;
    }

    body{
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        position: relative;
        width: 100vh;
        height: 100vh;
    }

    header{
       position: relative;
       left: 0;
       margin: 0;
       border-bottom-left-radius: 0;
       border-bottom-right-radius: 0;
       margin-right: -5rem;
    }

    nav{
        position: relative;
        left: -5rem;
        word-spacing: 1rem;
    }

    .icon{
        gap: 1.4rem;
        scale: 1.3;
        margin-left: -2rem;
    }


    main{
        top: 3rem;
        margin-left: 6rem;
    }

    .skills-grid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        place-items: center;
        gap: 5rem;
    }

    .qualities{
        width: 750px;
        height: 550px;
        gap: 2rem;
    }

    p{
     font-size: 2rem;
    }

    h3{
        font-size: 3rem;
    }

    h2,span{
        scale: 1.5;
    }

    .personal-skill{
        height: 3rem;
    }

    .logo5{
        gap: 2rem;
    }

}

