*{
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'IBM Plex Mono', sans-serif;
}

body{

    width: 100%;
    height: 100%;
    
    background-color: black;
    color: white;
    margin: 0;
}


header{
   
    background-color: rgb(44, 42, 42);
    display: flex;
    height: 70px;
    width: 1110px;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 85px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    
}

nav{
 gap: 15px;
 font-size: 30px;
}


.icons{
    scale: 1.4;
    height: 13.3px;
    width: 21.6px;
    position: relative;
    top: 0px;
    left: 15px;
    color: rgba(156, 156, 156, 1);
    transition: .2s;
}

.icons:hover{
    color: white;
    scale: 2;
}

.hyperlink{
     color: rgba(156, 156, 156, 1);
     position: relative;
     left: -50px;
     font-size: 15px;
     border-radius: 5px;
     padding-bottom: 2px;
     transition: .15s;
}


.hyperlink:hover{
    border-bottom: 2px solid rgb(200, 199, 199);
}


.icon{
    gap: -10px;
    width: 107.54px;
    display: flex;
}

a{
    text-decoration: none;
}

main{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 50px 5px 5px 0 ;
    backdrop-filter: transparent;
    border: 1px solid rgb(156, 155, 155);
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    height: 650px;
    width: 500px;
    box-shadow: 2px 2px 13px rgb(241, 220, 220);
    animation-name: border;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes border{
    0%{
         border-top-left-radius: 5%;
        border-top-right-radius: 5%;
        border-bottom-left-radius: 5%;
        border-bottom-right-radius: 5%;
    }

    25%{
        border-top-left-radius: 32% ;
    } 

    50%{
        border-top-right-radius: 35%;
    }

    65%{
        border-bottom-left-radius: 37%;
    }

    85%{
        border-bottom-right-radius: 35%;
    }

    100%{
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
        border-bottom-left-radius: 5%;
        border-bottom-right-radius: 5%;
    }
}

img{
    border-radius: 25%;
    height: 200px;
    width: 200px;
   
}

#quote{
   scale: 3.4;
   color: rgb(228, 218, 218);
   position: absolute;
   bottom: -0.5rem;
   right: 14rem;
}


